.teamMatch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.team-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
}
.team-banner {
  width: 100%;
  border-radius: 5px;
}
.heading {
  font-size: 12px;
}
.match-card-details {
  display: flex;
  flex-wrap: wrap;
}
.RCB {
  background-image: linear-gradient(to top, #1e293b, #d91c1f);
}
